body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #f9fafb;
    color: #333;
}
button{
    cursor: pointer;
}

header {
    background: #0f172a;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_links a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.main_container {
    text-align: center;
    padding: 200px 20px;
    background: linear-gradient(135deg, #2563eb, #9333ea);
    color: white;
}

.btn {
    display: inline-block;
    background: white;
    color: #2563eb;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: #ccc;
}

